{% extends 'HuskersApp/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            
            <h4 class="page-title">Hashtag Feed</h4>

        </div>
    </div>
</div>
<div class="row">
	<div class="col-sm-12 col-lg-6">
	<div class="input-group m-t-10 m-b-30">
                <input type="text" id="" name="hashtag" class="form-control" value="Hashtag">
                <span class="input-group-btn">
                    <button type="button" class="btn waves-effect waves-light btn-custom"><i class="fa fa-search m-r-5"></i> Search</button>
                </span>
        </div>
	</div>
</div>

<div class="row m-b-30">
    <div class="col-12">
        <h5 class="m-t-10 m-b-30">Columns</h5>
        <div class="card-columns">
            <div class="card m-b-30">
                <div class="card-body">
                    <h5 class="card-title">Twitter <a href="">@Mayline</a></h5>
                    <p class="card-text">#HAshtag Today was great guys!!!</p>
                    
                </div>
        	</div>
            
            <div class="card m-b-30">
                
                <div class="card-body">
                    <h5 class="card-title">Twitter <a href="">@Mayline</a></h5>
                    <p class="card-text">#HAshtag Today was great guys!!!</p>
                </div>
                <img class="card-img-bottom img-fluid" src="assets/images/small/img-1.jpg" alt="Card image cap">
            </div>
            
            <div class="card m-b-30">
                <div class="card-body">
                    <h5 class="card-title">Twitter <a href="">@Mayline</a></h5>
                    <p class="card-text">#HAshtag Today was great guys!!!</p>
                    
                </div>
        	</div>
            
            <div class="card m-b-30">
                
                <div class="card-body">
                    <h5 class="card-title">Twitter <a href="">@Mayline</a></h5>
                    <p class="card-text">#HAshtag Today was great guys!!!</p>
                </div>
            </div>
            <div class="card m-b-30">
                <div class="card-body">
                    <h5 class="card-title">Twitter <a href="">@Mayline</a></h5>
                    <p class="card-text">#HAshtag Today was great guys!!!</p>
                    
                </div>
        	</div>
            
            <div class="card m-b-30">
               
                <div class="card-body">
                    <h5 class="card-title">Twitter <a href="">@Mayline</a></h5>
                    <p class="card-text">#HAshtag Today was great guys!!!</p>
                </div>
                 <img class="card-img-bottom img-fluid" src="assets/images/small/img-1.jpg" alt="Card image cap">
            </div>
            <div class="card m-b-30">
                <div class="card-body">
                    <h5 class="card-title">Twitter <a href="">@Mayline</a></h5>
                    <p class="card-text">#HAshtag Today was great guys!!!</p>
                    
                </div>
        	</div>
            
            
            <div class="card m-b-30">
                <div class="card-body">
                    <h5 class="card-title">Twitter <a href="">@Mayline</a></h5>
                    <p class="card-text">#HAshtag Today was great guys!!!</p>
                    
                </div>
        	</div>
            
            
        </div>
    </div>
</div>

{% endblock %}