{% extends 'HuskersApp/base.html' %}
{% load staticfiles %}


{% block content %}

<div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h1>Venue Details</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001.1367191659924!2d-96.04379968457945!3d41.21879097927994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41a58574434bc6c4!2sNebraska+State+Soccer!5e0!3m2!1sen!2sus!4v1522887060931" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}