{% extends 'HuskersApp/base.html' %}
{% load staticfiles %}


{% block content %}

<div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h1>{{group.name}} Details</h1>
                <iframe id="map" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var venue = "{{ group.venue }}";
          var src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyC1suB65O-4HLhdwn1yCfNMCQn23AE59aA&q=" + encodeURIComponent(venue);
          $('#map').attr('src', src);
      });
    </script>
{% endblock %}
