{% extends 'HuskersApp/base.html' %}
{%  load staticfiles %}


{% block content %}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">

            <h4 class="page-title">Home</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-sm-4">
        <a href="{% url 'HuskersApp:group_new' %}">
            <button type="button" class="btn btn-custom btn-rounded w-md waves-effect waves-light mb-4"><i
                    class="mdi mdi-plus-circle"></i> Create New Group
            </button>
        </a>

    </div>

</div>
<!-- end row -->

<div class="row">
    <div class="col-8">
        <div class="card-box">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="thumb-lg member-thumb m-b-10 mx-auto">
                        <img src="../../static/images/users/avatar.jpg" class="rounded-circle img-thumbnail"
                             alt="profile-image">
                    </div>
                    <h4 class="m-b-5" style="text-align:center">Devonte Graham</h4>
                </div>
                <div class="col-9">
                    <p>posted in <a href="">Friday Group</a> at <u>12 March 2018 3:00 PM</u></p>
                    <p>jhh sdhkhdskjh kdshdskhsdk ksdhkhsdk dskjsdh sdkhsdkjhsd kshdkjsdh ksdh ksdhsdkh dskdshsdk h sdk
                        hsdksdh ksdhsdkhsdksdkjhsd ksdhk</p>
                </div>
            </div>
        </div>

        <div class="card-box">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="thumb-lg member-thumb m-b-10 mx-auto">
                        <img src="../../static/images/users/avatar.jpg" class="rounded-circle img-thumbnail"
                             alt="profile-image">
                    </div>
                    <h4 class="m-b-5" style="text-align:center">Devonte Graham</h4>
                </div>
                <div class="col-9">
                    <p>posted in <a href="">Friday Group</a> at <u>12 March 2018 3:00 PM</u></p>
                    <p>jhh sdhkhdskjh kdshdskhsdk ksdhkhsdk dskjsdh sdkhsdkjhsd kshdkjsdh ksdh ksdhsdkh dskdshsdk h sdk
                        hsdksdh ksdhsdkhsdksdkjhsd ksdhk</p>
                    <img src="../../static/images/download.jpg">
                </div>
            </div>
        </div>

    </div>
    <div class="col-4">
        <div class="card-box">
            <a href="https://www.accuweather.com/en/us/omaha-ne/68102/weather-forecast/349291"
               class="aw-widget-legal"></a>
            <div id="awcc1522808060733" class="aw-widget-current" data-locationkey="349291" data-unit="f"
                 data-language="en-us" data-useip="true" data-uid="awcc1522808060733"></div>
            <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
        </div>

        <div id="openweathermap-widget-15"></div>
        <script>
            var cityId = "{{ cityId }}";
            window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
            window.myWidgetParam.push({
                id: 15,
                cityid: cityId,
                appid: '1c20b22acd0d5d1f853c04e0bcc77011',
                units: 'metric',
                containerid: 'openweathermap-widget-15',
            });
            (
                function () {
                    var script = document.createElement('script');
                    script.async = true;
                    script.charset = "utf-8";
                    script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(script, s);
                }
            )();
        </script>

    </div>

</div>

<!-- End row -->

{% endblock %}