{% extends 'HuskersApp/base.html' %}
{%  load staticfiles %}
{% load i18n widget_tweaks %}


{% block content %}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">

            <h3 class="page-title">Manage Account</h3>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-lg-9 col-m-12">
        <div class="card-box">
            <p class="text-muted m-b-30 font-14">
                Please tell more about yourself
            </p>

            <div class="row">
                <div class="col-12">
                    <div class="p-20">
                        <form class="form-horizontal" role="form" method="post">
                          {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="id_date_of_birth">Date of Birth</label>
                                <div class="col-10">
                                    <input class="form-control" type="date" name="date_of_birth" id="id_date_of_birth">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Profile Picture</label>
                                <div class="col-10">
                                    <input type="file" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="id_favorite_team">Favorite Team</label>
                                <div class="col-10">
                                    <select class="form-control" name="favorite_team" id="id_favorite_team">
                                        <option>Barcelona</option>
                                        <option>Arsenal</option>
                                        <option>Manchester</option>
                                        <option>Chelsea</option>
                                        <option>Real Madrid</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="id_current_location">Current Location</label>
                                <div class="col-10">
                                    <input type="text" class="form-control" name="current_location" maxlength="100" id="id_current_location">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="id_introduction">Short Introduction</label>
                                <div class="col-10">
                                    <textarea class="form-control" rows="5" name="introduction" maxlength="500" id="id_introduction"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12" style="text-align:center">
                                    <button type="submit" class="btn btn-primary btn-lg">{% trans "Submit" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div> <!-- end card-box -->
    </div><!-- end col -->
</div>
<!-- end row -->

{% endblock %}
