{% extends "HuskersApp/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

        <div class="form-group col-md-6" style="padding-top: 50px">
            <label for="id_username">Username:</label>
            <input type="text" class="form-control" name="username" required id="id_username" autofocus maxlength="254" placeholder="Enter username">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-6">
            <label for="id_password">Password:</label>
            <input type="password" class="form-control" name="password" required id="id_password" placeholder="Password">
        </div>

        <div class="submitButton" style="padding: 40px 0px 80px 80px;">
        <input type="submit" value="Login" class="btn btn-primary btn-lg col-md-4"/>
        <input type="hidden" name="next" value="{{ next }}" />
            </div>

    </form>
      <form method="post" action="{% url 'password_reset' %}">
                             {% csrf_token %}

                                    <input type="submit" value="Forgot Password"/>
                                    <a href=""

                                    <input type="hidden" name="password_reset" value="{{ password_reset }}"/>
                        </form>
{% endblock %}